<h1>webdev listing</h1>

<% @users.each do |user| %>
<p><a href="http://<%= user.login %>.archiveofourown.org"><%=h user.login %>'s webdev</a> (<a href="http://code.google.com/u/<%=h user.google_code_login %>/updates">Google code as: <%=h user.google_code_login %></a>)
<% if current_user == user || current_user.try(:admin) %>
  <%= link_to 'Show hidden', user %> |
  <%= link_to 'Edit', edit_user_path(user) %>
<% end %>
</p>
<% end %>

<br />

<% if current_user %>
  <%= link_to 'Logout', logout_path %>
<% else %>
  <%= link_to 'New user', new_user_path %> |
  <%= link_to 'Login', new_user_session_path %>
<% end %>
