<h1>Request for New webdev</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :login %> (The login name you will use to log in to this web interface and to the server. It will also be in the URL of your webdev. It must be alphanumeric 3-16 characters)<br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password %> (The password you will use to log in to this web interface only, will be stored encrypted)<br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :visible_password %> (The password you will use to log in to your webdav, to log in to the server, and to access your database. Unfortunately, it needs to be stored in plaintext, so don't use a real password that you use elsewhere)<br />
    <%= f.text_field :visible_password %>
  </p>
  <p>
    <%= f.label :email %> (an email address where we can send you information when your webdev is ready and if the webdev is being updated, etc.)<br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :google_code_login %> (the name that you use for subversion access to google code) <br />
    <%= f.text_field :google_code_login %>
  </p>
  <p>The following is not required, but entering it will allow us to do the initial checkout of your code.
This is not your gmail password, this is the password you see at <a href="https://code.google.com/hosting/settings">https://code.google.com/hosting/settings</a>
</p>
  <p>
    <%= f.label :google_code_password %> <br />
    <%= f.text_field :google_code_password %>
  </p>
  <% if current_user && current_user.admin? %>
    <p>
        <%= f.label :admin %><br />
        <%= f.check_box :admin  %>
      </p>
  <% end %>
  <p>
    <%= f.submit 'Set me up!' %> (You will recieve email when it is set up)
  </p>
<% end %>

<%= link_to 'Back', users_path %>
