%h1 Login
= form_tag user_sessions_path do
  %dl
    %dt
      = label_tag :login
    %dd
      = text_field_tag :login
    %dt
      = label_tag :password
    %dd
      = password_field_tag :password
  %p
    = submit_tag 'Log in'
= link_to 'Back', root_path
